RNSwipeViewController.xcodeproj/xcuserdata/Dominick.xcuserdatad/xcschemes/RNSwipeViewController.xcscheme
RNSwipeViewController.xcodeproj/xcuserdata/Dominick.xcuserdatad/xcschemes/xcschememanagement.plist
